{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}
{% endblock %}

{% block title %}Movie recommender{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h2>Placeholder figure for Analytics</h2>
    </div>

    <div class="row">
        <div class="col-sm-4">

            <form action="" name="color_button" method="GET" class="form" role="form">

                <div class="form-group ">
                    <label class="control-label" for="color">Color</label>
                    <select class="form-control" name="color">
                        <option value="Red">Red</option>
                        <option value="Green">Green</option>
                        <option value="Blue">Blue</option>
                        <option selected="selected" value="Black">Black</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label class="control-label" for="_from">From</label>
                    <input class="form-control" type="text" name="_from" value="{{ _from }}">
                </div>
                <div class="form-group ">
                    <label class="control-label" for="to">To</label>
                    <input class="form-control" type="text" name="to" value="{{ to }}">
                </div>
                <input class="btn btn-default" id="submit" name="submit" type="submit" value="Refresh">
            </form>

        </div>
        <div class="col-sm-8">
            {{ plot_div|indent(4)|safe }}
        </div>
    </div>

{% endblock %}
