{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    {{ js_resources|indent(4)|safe }}

    {{ css_resources|indent(4)|safe }}

    {{ plot_script|indent(4)|safe }}
{% endblock %}

{% block title %}Movie recommender{% endblock %}

{% block page_content %}

    <div class="page-header">
        <h2>Analytics (against Hadoop Data Warehouse)</h2>
    </div>

    <div class="row">
        {{ plot_div|indent(4)|safe }}
    </div>

    <br/>

{% endblock %}
