{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Movie recommender{% endblock %}

{% block page_content %}

    <h2>Overview</h2>
    <p>Welcome to this demo movie recommender application.  This demo has been installed with approximately four thousand movies and one million ratings from the <a href="http://grouplens.org/datasets/movielens/1m/">MovieLens 1M Dataset</a>.  The purpose of this web application is to allow users to search for movies, rate movies, and receive recommendations for movies based on their ratings.
    <p>To get started:
    <ul>
        {% if not current_user.is_authenticated %}
        <li>New users: <a href="{{ url_for('auth.register') }}">Register</a> for an account</li>
        <li>Existing users: <a href="{{ url_for('auth.login') }}">Login</a> to your account</li>
        {% endif %}
        <li>Use the Search box in the header to search for and rate some movies</li>
        <li><a href="{{ url_for('main.recommendations') }}">Get Recommendations</a> for movies</li>
    </ul>
    <p><b>NOTE:</b> The goal of this webapp is to show Apache Spark Machine Learning. Therefore, some functionality is missing and it doesn't have the polish that you would expect from a commercial movie recommendation web site.</p>

    <h2>Running your own demo instance</h2>

    <p><a href="https://bluemix.net/deploy?repository=https://github.com/snowch/movie-recommender-demo.git"><img src="https://bluemix.net/deploy/button.png" alt="Deploy to Bluemix"></a>
    &nbsp;You can deploy your own instance of this web application (plus Cloudant and Compose Redis). Click on the button and follow the instructions.</p>
    <p>After deploying to Bluemix, you will need to create a new <a href="http://datascience.ibm.com">DSX</a> project and import the notebooks (see the Source Code section below).  The notebook <em>Step 07 - Cloudant Datastore Recommender.ipynb</em> is responsible for creating recommendations and saving the recommendations to Cloudant.  You will not get recommendations until you have run this notebook.</p>

    <h2>Technologies</h2>
    <p>The technologies used in this demo are:</p>
    <br/>

    <div class="row">
        <div class="col-sm-4">
            <img alt="Overall Architecture" src="{{ url_for('static', filename='movie-recommender-demo.png') }}" width="100%">
        </div>
        <div class="col-sm-8">
            <ul>
                <li>Python flask application (this application)</li>
                <li>IBM Bluemix for hosting the web application and services</li> 
                <li>IBM Cloudant NoSQL for storing movies, ratings, user accounts and recommendations</li>
                <li>IBM Compose Redis for maintaining an Atomic Increment counter for ID fields for user accounts</li>
                <li>IBM Datascience Experience (DSX) and Spark as a Service for:</li>
                   <ul>
                       <li>Exploring data and analysing ratings</li>
                       <li>Training and testing a recommendation model</li>
                       <li>Retraining recommendation model hourly (DSX Scheduled Job)</li>
                       <li>Generating recommendations and saving to Cloudant</li>
                   </ul>
                </li>
            </ul>
        </div>
    </div>

    <br/>
    <br/>
    
    <h2>Source Code</h2>
    <p>The source code for the web application and the jupyter notebooks are available in github: <a href="https://github.com/snowch/movie-recommender-demo/">here</a></p>
    <br/>
    <br/>
    <br/>

{% endblock %}
