{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Movie recommender{% endblock %}

{% block page_content %}

{% if movies %}

    <b>Movie Search Results.</b>

    {% if current_user.is_authenticated %}
        <hr>
            Movie ratings are from <b>1</b> (worst) to <b>5</b> (best).
        <hr>
    {% endif %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Movie ID</th>
                <th>Name</th>
                {% if current_user.is_authenticated %}
                <th>Your Rating</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.movie_id }}</td>
                <td>{{ movie.name }}</td>
                {% if current_user.is_authenticated %}
                <td>
                    <!-- TODO: crsf protection -->
                    <select id="{{ movie.movie_id }}" data-userid="{{ current_user.get_id() }}" class="rating-selector">
                        <option value="-" {% if movie.rating == None %}selected="selected"{% endif %}>-</option>
                        <option value="1" {% if movie.rating == 1 %}selected="selected"{% endif %}>1</option>
                        <option value="2" {% if movie.rating == 2 %}selected="selected"{% endif %}>2</option>
                        <option value="3" {% if movie.rating == 3 %}selected="selected"{% endif %}>3</option>
                        <option value="4" {% if movie.rating == 4 %}selected="selected"{% endif %}>4</option>
                        <option value="5" {% if movie.rating == 5 %}selected="selected"{% endif %}>5</option>
                    </select> 
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not current_user.is_authenticated %}
    <em><b>Note:</b></em> Album ratings are not displayed because you are not logged in. <a href="{{ url_for('auth.login') }}">Login</a> to show your ratings...
    <hr/>
    {% endif %}

{% else %}
<!-- there are no movies, so we must be on the welcome screen -->

    <h2>Overview</h2>
    <p>Welcome to this demo movie recommender application.  This demo has been installed with approximately four thousand movies and one million ratings from the <a href="http://grouplens.org/datasets/movielens/1m/">MovieLens 1M Dataset</a>.  The purpose of this web application is to allow users to search for movies, rate movies, and receive recommendations for movies based on their ratings.
    <p>To get started:
    <ul>
        <li>Register for an account</li>
        <li>Login to your account</li>
        <li>Search for movies</li>
        <li>Rate a few movies</li>
        <li>Receive movie recommendations</li>
    </ul>
    <p><b>NOTE:</b> The goal of this webapp is to show Apache spark functionality so lots of useful functionality is missing that you would expect in a commercial movie recommendation web site.
    <h2>Technologies</h2>
    <p>The technologies used in this demo are:
    <ul>
        <li>Python flask application (this application)</li>
        <li>IBM Bluemix for hosting the web application and services</li> 
        <li>IBM Cloudant NoSQL for storing movies, ratings, user accounts and recommendations</li>
        <li>IBM Compose Redis for maintaining an Atomic Increment counter for ID fields for user accounts</li>
        <li>IBM Datascience Experience (DSX) and Spark as a Service for:</li>
           <ul>
               <li>exploring data and analysing ratings</li>
               <li>training and testing a recommendation model</li>
               <li>retraining recommendation model hourly</li>
               <li>generating recommendations and saving to Cloudant</li>
           </ul>
        </li>
    </ul>
    <h2>Notebooks/Source Code</h2>
    <ul>
        <li>Flask web app <a href="https://github.com/snowch/demo_2710/web_app">here</a></li>
        <li><a href="https://github.com/snowch/demo_2710">Notebooks</a> for analysing movielens data (see Steps 04, 05 and 06)</li>
        <li><a href="https://github.com/snowch/demo_2710/blob/master/web_app/Cloudant%2BRecommender%2BPyspark.ipynb">DSX Notebook</a> for batch recommendations</li>
        <li><a href="https://github.com/snowch/demo_2710/blob/master/web_app/RealtimeRecommendations.ipynb">Notebook</a> example for realtime recommendations (TODO)</li>
    </ul>
    <p>To run this demo on your own Bluemix/DSX account or run it locally, see <a href="https://github.com/snowch/demo_2710/blob/master/web_app/README.md">here</a>
    <h2>Task List</h2>
    <p>This section lists some of the main TODO items
    <ul>
        <li>Create a new DSX project with notebooks for steps 04, 05, 06 from above and Realtime recommendations</li>
        <li>The flask app source code is very messy.  The data access logic should probably be separated from the model into its own class/module.</li>
        <li>Realtime recommendaions are broken. See <a href="http://stackoverflow.com/questions/41568974/als-model-predicted-full-u-vt-v-ratings-are-very-high">here</a></li>
        <li>Document the solution architecture.</li>
    </ul>
    <b>Contributions are most welcome!</b>
    <br>
    <hr>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">

// FIXME: the approach for flashing the Saving and Saved messages is clunky
$(".rating-selector").on('change', function () {
    var movie_id = this.id;
    var user_id  = this.dataset.userid;
    var rating   = this.value;

    var select_element = this;
    $(select_element).hide()
    $(select_element).parent().append('<span class="saving-note">Saving</span>')

    $.ajax({
        url: "{{ url_for('main.set_rating') }}",
        type: "POST",
        data: JSON.stringify({
            "movie_id": movie_id, 
            "user_id":  user_id,
            "rating":   rating
        }),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(){
            $(".saving-note").remove();
            $(select_element).parent().append('<span class="saving-note">Saved</span>')

            setTimeout(function(){
                $(".saving-note").remove();
                $(select_element).show();
            }, 1000);
        }
    });
});
</script>
{% endblock %}


