__pycache__/
*.py[cod]

*.swp

# vcap files with credentials in them!
redis_vcap.json
cloudant_vcap.json
messagehub_vcap.json
biginsight_credentials.json
venv/pip-selfcheck.json
venv/.DS_Store
.project
.pydevproject
.DS_Store
venv/
